.sideBar {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.3);
   display: flex;
   justify-content: flex-end;
   transition: visibility 0.3s linear, opacity 0.3s linear;
   opacity: 0;
   visibility: hidden;
}

.sideBar_opened {
   opacity: 1;
   visibility: visible;
   z-index: 10;
}

.sideBar__container {
   background: #fff;
   width: 520px;
   height: 100vh;
   box-sizing: border-box;
   cursor: default;
   padding: 34px 36px 90px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.sideBar__closeButton {
   height: 30px;
   width: 30px;
   box-sizing: border-box;
   background-color: transparent;
   border: none;
   background-image: url(../../images/sideBarCloseButton.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   right: 25px;
   top: 25px;
   cursor: pointer;
}

.sideBar__linkContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   list-style: none;
   padding: 125px 0 0;
   margin: 0 auto;
   gap: 22px;
}

.sideBar__linkList {
   text-align: center;
}

.sideBar__link {
   display: flex;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   text-decoration: none;
   color: #000000;
   min-height: 28px;
   align-items: center;
   justify-content: center;
   border-bottom: solid 2px transparent;
}

@media screen and (max-width: 450px) {
   .sideBar__linkContainer {
      gap: 18px;
   }

   .sideBar__container {
      padding-bottom: 46px;
   }
}
